.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: url("../img/nastol.com.ua-260809.jpg");
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.screen__content {
  padding: 100px 25px 25px 25px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.screen__title {
  font-size: 50px;
  color: #fff;
  position: relative;
  z-index: 3;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__img img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(500%, -50%);
          transform: translate(500%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: #fff;
}

.page__screen_parallax {
  color: white;
}

.page__screen_parallax .screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sticky::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  min-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.header {
  -webkit-transform: translate(0, -200%);
          transform: translate(0, -200%);
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header {
  -webkit-transition: -webkit-transform 0.8s ease 0.8s;
  transition: -webkit-transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.wrapper._loaded .page__pagination {
  right: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.8s ease 0.8s;
  transition: -webkit-transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
}

.wrapper._free .page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(500%, -50%);
          transform: translate(500%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.post {
  margin: 0 auto;
}

.post:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.post__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.post__img img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post__content-wrapper {
  padding: 20% 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.post__text-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post__content {
  padding: 0 10%;
}

@media (max-width: 425px) {
  .post__content {
    padding: 0;
  }
}

.posts-slider {
  border-radius: 15px;
  background-color: white;
  padding: 1% 5%;
}

.posts-slider__wrapper {
  margin: 0 0 30px 0;
}

.posts-slider__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 0 50px 0;
}

.posts-slider .swiper-button-prev {
  top: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.posts-slider .swiper-button-prev::after {
  font-size: 40px;
}

.posts-slider .swiper-button-next {
  top: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.posts-slider .swiper-button-next::after {
  font-size: 40px;
}

@media (max-width: 479px) {
  .posts-slider {
    max-width: 100%;
  }
}
